.akk1 {
    background-color: #e03e3e;
}
.akk2
{
  background-color: #0b6e99;
}
p {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
  .k1 {
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif; 
  }
  .kolokvijumidiv {

    display: block;
    background-color: #e03e3e;
    text-align: center;

  }
  .kolokvijumih1 {

    display:inline;

  }
  .bodyobaveze {

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin:0;
    background-color: #eef1ff;
  }